.delete-btn{
    height: 8px;
    width: 8px;
    position: absolute;
    top: 4px;
    right: 4px;
    border-radius: 50%;
    background-color: red;
}
.stars{
    position: absolute;
    left: 10px;
}
.card{
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
    overflow: hidden;
    animation: .5s slide-up;
    margin-top: 0%;
}
@keyframes slide-up {
    from {
        margin-top: 100%;
    }
    to {
        margin-top: 0%;
    }
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}
